
## Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов.
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать,
что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по
каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в
нем должно быть 2 элемента.

In [1]:
import numpy as np

In [3]:
a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [4, 10],
              [1, 7]])

In [4]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 4, 10],
       [ 1,  7]])

In [7]:
mean_a = a.mean(axis=0)

In [8]:
mean_a

array([2.2, 8.4])

## Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих
признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие.
Получившийся массив должен иметь размер 5x2.

In [10]:
a_centered = a - mean_a

In [11]:
a_centered

array([[-1.2, -2.4],
       [-0.2, -0.4],
       [ 0.8,  2.6],
       [ 1.8,  1.6],
       [-1.2, -1.4]])

## Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться
величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [22]:
a1=a_centered[:,0]
a2=a_centered[:,1]

In [23]:
a_centered_sp=np.dot(a1,a2)

In [28]:
a_centered_sp

9.6

In [36]:
N = a.shape[0]

In [37]:
N

5

In [38]:
x = a_centered_sp / (N-1)
x

2.4

## Задача 4

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся
в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на
N, поэтому полученная нами величина является несмещенной оценкой ковариации.

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с
помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать
транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером
2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом

In [39]:
np.cov(a.transpose())

array([[1.7, 2.4],
       [2.4, 4.3]])

### **Тема “Работа с данными в Pandas”**

## Задание 1
<!-- Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со
столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и
['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно
содержатся данные: 
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и
поклонники'],
[450, 300, 350, 500, 450, 370, 290].''' -->

Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со
столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и
['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно
содержатся данные: 
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и
поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [40]:
import pandas as pd

In [41]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])

In [42]:
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [45]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]}, columns=['author_id', 'book_title', 'price'])

In [46]:
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id

In [49]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')

In [50]:
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими
книгами.

In [51]:
top5 = authors_price.nlargest(5, 'price')

In [52]:
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat
должны быть четыре столбца:

1.   author_name,   
2.   min_price,
3.   max_price
4.   mean_price,

в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя
цена на книги этого автора .

In [56]:
a1 = authors_price.groupby('author_name').agg({'price' : 'min'}).rename(columns={'price' : 'min_price'})
a2 = authors_price.groupby('author_name').agg({'price' : 'max'}).rename(columns={'price' : 'max_price'})
a3 = authors_price.groupby('author_name').agg({'price' : 'mean'}).rename(columns={'price' : 'mean_price'})
authors_stat = pd.concat([a1, a2, a3], axis = 1)

In [57]:
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000